html{
    background-color: rgb(208, 208, 208);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Avenir Light", "Avenir", sans-serif;
    font-weight: 100;
    overflow: auto;
}

body.no-scroll {
    overflow: hidden;
}

.no-animation{
    animation: none !important;
}