body{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
    overflow: auto;
}

body.no-scroll {
    overflow: hidden;
}

.no-animation{  /* cancle all animation at start */
    animation: none !important;
}