#header-container{
    position: fixed;
    width: 100%;
    height: 100px;
    transition: height 0.2s linear;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    z-index: 10;
}

#header-container.smaller {
    height: 90px;
}

#header-container.expanded{
    transition: height 0.5s linear;
    height: 100%;
}

/* Navigation Horizontal*/
#navi-button-wrapper{
    display: flex;
    justify-content: center;
}
#navi-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: top 0.25s linear;
    top: 20px;
    column-gap: 20px;
    width: fit-content;
}

#logo{
    top: 20px;
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    transition: top 0.25s linear;
}

.navi-button{
    user-select: none;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.navi-font{
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin: 0; 
}

.navi-underline{
    margin-top: 2px;
    transform-origin: center;
    transform: scaleX(0);
    height: 2px; 
    background-color: rgb(0, 0, 0); 
}

.navi-button:hover .navi-underline{
    animation: widerunderline 0.15s linear forwards;
}

#navi-dropdown-button{
    user-select: none;
    background: none;
    z-index: 10;
    cursor: pointer;
    padding-bottom: 5px;
    display: none;
}

#header-container.smaller #navi-button-container{
    top: 15px;
}

#header-container.smaller #logo{
    top: 15px;
}

@keyframes widerunderline{
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}



/* Navigation Vertical */
#navi-dropdown{
    display: none;
    position: fixed;
    top: 35px;
    transition: top 0.2s linear;
}

#navi-dropdown-checkbox{
    user-select: none;
    position: fixed;
    right: 50px;
    margin-top: 15px;
    visibility: hidden;
}

#dropdown-icon{
    margin-right: 2px;
}

#navi-dropdown-buttons-container{
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 200px;
    width: 100%;
    height: 0px;
    transition: height 0.4s linear;
}

#navi-dropdown-buttons-container.expanded {
    height: 100%; 
}

#dropdown-button{
    margin-top: 20px;
    margin-bottom: 10px;
}

#dropdown-blog-button{
    margin-top: 45px;
}

/* Darkmode-Button WIP*/ 
.day-night-button{
    position: fixed;
    top: 40px;
    right: 80px;
    transition: top 0.2s linear;
    display: none;
}

#mode-checkbox{
    user-select: none;
    visibility: hidden;
}

#mode-button{
    font-size: 22px;
    cursor: pointer;
}

#moon-icon, #sun-icon {
    user-select: none;
    position: absolute;
    font-family: 'FontAwesome';
    display: inline-block;
    transition: transform 1s ease-in-out, visibility 0s;
}

#moon-icon{
    color: rgb(3, 3, 3);
}

#sun-icon {
    opacity: 0;
    color: rgb(0, 0, 0);
    visibility: hidden; 
}

#mode-checkbox:checked + #mode-button #moon-icon {
    transform: rotate(180deg);
    animation: hideVisibility 0.75s linear forwards;
    pointer-events: none; 
}

#mode-checkbox:checked + #mode-button #sun-icon { 
    animation: showVisibility 0.75s linear forwards;
    transform: rotate(180deg);
    pointer-events: auto;
}

#mode-checkbox:not(:checked) + #mode-button #sun-icon{ 
    transform: rotate(-180deg);
    animation: hideVisibility 0.75s linear forwards;
    pointer-events: none;
}

#mode-checkbox:not(:checked) + #mode-button #moon-icon { 
    animation: showVisibility 0.75s linear forwards;
    transform: rotate(-360deg);
    pointer-events: auto;
}

header.smaller .day-night-button{
    top: 34px;

}

@keyframes hideVisibility { 
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes showVisibility { 
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 800px) {
    #top-button{
        display: none;
    }
    
    #navi-dropdown{
        display: flex;
    }

    #navi-dropdown-button{
        display: flex;
    }
}