#main-content-1{
  background-color: rgb(255, 250, 236);
  height: 1000px;
  padding-top: 110px;
  padding-bottom: 50px;
  border-bottom: 2px;
  border-color: black;
}

#main-content-1-title{
  color: rgb(61, 61, 61);
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: Satisfy, sans-serif;
}

#main-content-1-text{
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

