#main-content-1 {
  background-color: rgb(255, 250, 236);
  padding-top: 140px;
  padding-bottom: 50px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 10px solid black;
}

.main-content-title{
  position: absolute;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 0px;
  font-size: 80px;
  color: rgb(61, 61, 61);
  text-align: center;
}

#main-content-1-title{
  margin-bottom: 200px;
  margin-right: 440px;
}

#main-content-2-title{
  margin-top: 200px;
  margin-left: 400px;
}

#profile-pic {
  width: 50%;
  height: auto;
  max-width: 280px; 
  min-width: 250px; 
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: 750px){
  #main-content-1-title{
    margin-right: 400px;
  }
  
  #main-content-2-title{
    margin-left: 370px;
  }
  
  .main-content-title{
    font-size: 70px;
  }


}

@media (max-width: 650px){
  #main-content-1-title{
    margin-bottom: 280px;
    margin-right: 260px;
  }
  
  #main-content-2-title{
    margin-top: 260px;
    margin-left: 260px;
  }
  
  .main-content-title{
    font-size: 60px;
  }

}

@media (max-width: 550px){
  #main-content-1-title{
    margin-bottom: 250px;
    margin-right: 260px;
  }
  
  #main-content-2-title{
    margin-top: 220px;
    margin-left: 260px;
  }
  
  .main-content-title{
    font-size: 60px;
  }
}

@media (max-width: 480px){
  #main-content-1{
    padding-top: 170px;
    padding-bottom: 80px;
  }

  #main-content-1-title{
    margin-bottom: 300px;
    margin-right: 100px;
  }
  
  #main-content-2-title{
    margin-top: 280px;
    margin-left: 100px;
  }
  
  .main-content-title{
    font-size: 60px;
  }
}





