#blog{
  background-color: rgb(255, 255, 255);
  padding-top: 10vh;
  padding-bottom: 400px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5vw;
  
}

.blog-button{
  height: fit-content;
  justify-content: center;
  text-align: left;
  background: none;
  border: none;
}

.blog-button-pic{
  aspect-ratio: 4/3;
  border-radius: 2%;
  width: 40vw;
}

.blog-button-date{
  padding-top: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  width: 40vw;
}

.blog-button-title{
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}

.blog-button-description{
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: justify;
  width: 40vw;
}

.blog-button-readmore{
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin: 0;
  padding: 0;
  background: none;
}

@media (max-width: 800px) {
  #blog {
    flex-direction: column;
    align-items: center;
  }

  .blog-button{
    padding-bottom: 40px;
  }

  .blog-button-pic{
    width: 85vw;
    aspect-ratio: 4/3;
    border-radius: 2%;
  }

  .blog-button-description{
    width: 80vw;
  }
}




