html{
    background-color: white;
}

@font-face {
    font-family: 'LocalFont';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/AvenirLTStd-Light.otf');
}

body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

body.no-scroll {
    overflow: hidden;
}

.no-animation{
    animation: none !important;
}